.hero{
    display: flex;
    height: 100vh;
    align-items: center;
    color: rgb(26, 5, 156);
}

.hero__texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    padding: 0rem 7rem;
}

.hero__texts__head{
    font-size: 4rem;
}

.hero__texts__head__subhead{
    height: 3rem; 
    animation: blinking 800ms infinite;
    border-right: .15rem solid #000;
    font-size: 3rem;
}

.hero__texts__btn{
    font-size: 1.5rem;
    padding: .8rem 3rem;
    border-radius: 10px;
    /* background-color: black; */
    background-color: rgb(26, 5, 156);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.hero__texts__btn:hover{
    cursor: pointer;
}
.hero_image{
    height: 45rem;
}

@keyframes blinking{
    0%{
        border-color: #ffffff;
    }

    50%{
        border-color: transparent;
    }
}


/* Media Query for Hero Section */

@media screen and (max-width: 1100px){
    .hero{
        height: 70vh;
    }

    .hero__texts{
        padding: 0rem 2rem 0 5rem;
    }

    .hero__texts__head{
        font-size: 3rem;
    }

    .hero__texts__head__subhead{
        font-size: 2rem;
    }

    .hero__texts__btn{
        font-size: 1.2rem;
        padding: .5rem 2rem;
    }

    .hero_image{
        height: 30rem;
    }

}

@media screen and (max-width: 700px){
    .hero{
        height: 75vh;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
    }

    .hero__texts{
        padding: 0rem 1rem;
        align-items: center;
    }

    .hero__texts__head{
        font-size: 3rem;
    }

    .hero__texts__head__subhead{
        font-size: 2rem;
    }

    .hero__texts__btn{
        font-size: 1.2rem;
        padding: .5rem 2rem;
    }

    .hero_image{
        height: 30rem;
    }
}

@media screen and (max-width: 330px){
    .hero{
        gap: 1rem;
    }


    .hero__texts__head{
        font-size: 2.4rem;
    }

    .hero__texts__head__subhead{
        font-size: 1.8rem;
    }

    .hero_image{
        width: 35rem;
    }
}